html{
	position: absolute;
	width: 1503px;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
body{
	font-size: 20px;
}
.point_box{
	top: 30%
}
header{
	height: 10vh;
	padding: 0 4%;
}

header>a{
	margin: auto 0;
}
.img-box>p{
	margin-top: -250px;
}
.background{
	height: auto;
}
.section3{
	flex-direction: column;
	height: 1600px;
}
.section3>.box1{
	margin: 0px;
}
.section1{
	flex-direction: column;
	height: 1300px;
	margin-top: 0;
	margin-bottom: 50px;
	align-content: space-between;
}
.section1>.info>a>.btn{
	margin: 0 auto;
	margin-top: 50px;
}
.car>span{
	font-size: 300px;
  	color: rgb(255, 255, 255);
  	text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }
#s1{
	left: 200px;
	top: -80px;
}
#s2{
	left: 100px;
	top: 440px;
}
.section1>.car{
	margin: 0;
	width: 100%;
}
.section1>.car>img{
	width: 80%;
	height: auto !important;
}
.img-box>img{
	margin-top: -200px;
	transform: scale(0.6);
}
.section1>.info{
	width: 80%;
	margin: 0 10%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.section1>.info>h2{
	text-align: center;
	font-size: 85px
}
.section1>.info>p{
	text-align: center;
	width: auto;
	font-size: 22px
}
.section1>.info>a>.btn{
	margin: auto;
	margin-top: 50px
}

.box1{
	min-width: 800px;
	margin: 50px;
}
.box2{
	width: 1200px;
	margin: 0 0px ;	
}
.section4{
	height: auto;
	width: 95%;
	margin: 100px auto;
}
.section4>.f1 , .section4>.f2{
	padding: 0 40px;
}
.section4>.f1>input{

}
.mark-list{

}
.mark-list>h3{
	font-size: 30px;
}
.mark-list>.list{
	justify-content: space-around;
	flex-wrap: wrap;
	height: 250px;
}
.mark-list>.list>a{
	flex-basis: 25%;
	text-align: center;
	margin: 0;	
}
.flex1>img{
	transform: scale(0.9);
}
.marklist>.list{
	justify-content: space-around;
	flex-wrap: wrap;
	height: 250px;
}
.marklist>.list>a{
	flex-basis: 25%;
	text-align: center;
	margin: 0;	
}
.f2{
	height: 100px;
	margin-bottom: 50px;
}
.section4>.background{
	background: #135ec5;
	height: 34%;
	width: 100%;
	position: absolute;
	z-index: -1;
	
}
.section4>a>.btn{
	position: absolute;
	width: 350px;
	background: #135ec5;
	color: white;
	left: calc( 50% - 175px );
	top: 64%
}
.f3{
	position: relative;
	height: 180px;
	padding-top: 150px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0px 20px;
	padding-bottom: 120px;
}
.f3>input{
	margin-top: 15px;
}
.f3>input:last-child{
	position: absolute;
	bottom: 40px;
	width: 200px;
	height: 50px;
	background: white;
	color: #135ec5;
}