/* basic */

html{
    font-size: 8px;
}

/* header */

header{
    padding: 0;
    height: 8vh;
}
.container{
    width: 50%;
}

/* background */

.background{
    height: 92vh;
}
.background>.img-box{
    height: 80vh;
}
.background>.img-box>img{
    max-width: 95vw;
    height: auto;
    margin: auto 0;
    position: relative;
}
.background>.img-box>p{
    position: absolute;
    bottom: 12vh;
}
.point_box{
    right: calc( 50vw - 0.9rem / 2 ) ;
    top: 70vh;
    width: 6rem;
    flex-direction: row;
}
.point{
    margin: 0 0.5rem !important;
}

/* mark-list */

.mark-list>.list{
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 5rem;
}
.mark-list>.list>a{
    display: inline-block;
    flex-basis: 21%;
    text-align: center;
    margin-top: 5rem;
}
.marklist>.list{
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 5rem;
}
.marklist>.list>a{
    display: inline-block;
    flex-basis: 21%;
    text-align: center;
    margin-top: 5rem;
}

/* section4 */

.section4>.background{
    height: 40%;
}
.f3{
    margin-top: 15rem;
}
.section4>a>.btn{
    top: 57%;
}
.section1{
    height: auto;
    flex-direction: column;
    padding: 7rem 0;
}
.section1>.car{
    width: 100vw;
}
.section1>.car>img{
    width: 80vw;
    height: auto !important;
}
.section1>.info>p{
    width: 80vw;
     margin: 0 auto;
}
.section1>.info{
    padding: 0;
    width: 100vw;
    text-align: center;
}
