@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
/*basic*/

html{
	
	}		
body{
	margin: 0px;
}
span{
	
}
a{
	color: inherit;
	text-decoration: none;
	display: inline-block;
}
.btn{
  	font-family: 'Montserrat', sans-serif;
  	font-weight: bold;
  	background-color: white;
  	text-align: center;
  	text-transform: uppercase;

  	border-radius: 2em;
  	padding: 0.5em 1em;
    /*line-height: 3em;*/
	
} 
/*header*/
header{
	display: flex;
	justify-content: space-between;
	background: black;
	color: white;
	padding-top: 5vh;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #135ec5;
	height: 10vh;
}

.container{
	display: flex;
	justify-content: space-around;
	width: 35%;
}
.container>a{
	margin: auto 0;
}
.container>a>.btn{
	font-size: 16px;
	padding: 1em 1.4em;
}
.box{
	display: flex;
	align-items: center;	
}
.box>img{
	margin-right: 15px;
}
.box>p>a:hover{
	color: white;
}
header>a{
	margin-left: 100px;
}

.btn:hover{
	background: #cbcdcf;
}
/*background*/
.background{
	height: 85vh;
	background: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.img-box>img{
	height: 71vh;
	/*max-height: 700px;
	max-width: 1054px;*/
	align-self: center;
}
.img-box>p{
	color: white;
	font-size: 18px;
	align-self: center;
	margin-top: -20px;
	margin-bottom: 0;
}
.img-box{
	display: flex;
	flex-direction: column; 
}
.point_box{
	background: black;
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 1vw;
	top: 48vh;
}
.point_box>.point{
	height: 9px;
	width: 9px;
	background: white;
	opacity: 0.5;
	margin-top: 11px;
	margin-right: 20px;
	border-radius: 15px;
}
.bottom-nav{
	display: flex;
	color: white;
	justify-content: space-around;
	margin: 2vh 0;
	box-sizing: border-box;
	height: 10vh;
}
.bottom-nav>p{
	font-size: 30px;
	opacity: 0.4;
	margin: 0;
	line-height: 10vh;
}
.bottom-nav>p:hover{
	opacity: 1;
	cursor: pointer;
}
.bottom-nav>a{
	margin: auto 0;
}
.bottom-nav>a>.btn{
	background: #135ec5;
	padding: 1em 2em;
}
.bottom-nav>a>.btn:hover{
	background: #002f6e;
}
/*mark-list*/
.mark-list>{
	
}
.mark-list>h3{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 50px;
}
.list{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	margin-bottom: 50px;
}
.list>a>img{
	opacity: 0.6;
}
.list>a>img:hover{
	opacity: 1;
}

/*section1*/

.section1{
	height: 560px;
	
}
.car{
	position: relative;
	width: 50vw;	
	margin: auto 0;
	text-align: center;

}
.car>span{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 220px;
	color: rgb(255, 255, 255);
	position: absolute;
  	z-index: -1;
  	text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  	
}
.section1>.car>img{
		height: 400px;
}
#s1{
	top: -60px;
	left: calc( 50% - 575px / 2 );
}
#s2{
	left: calc( 50% - 736px / 2 );
	top: 200px;
}
.info{
	width: 50vw;	
	margin: auto 0;
	text-align: center;
}
.info>p{
	width: 700px;
	font-family: 'Open Sans', sans-serif;
	color: gray;
	margin: 0 auto;
	text-align: left;

}
.info>h2{
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	color: #135ec5; 
	margin-top: 0;
}
.info>a{
	margin-top: 70px;
}
.info>a>.btn{
	background: #135ec5;
	width: 200px;
	padding: 1em 1em;
	color: white;
}
.info>a>.btn:hover{
	background: #002f6e;
}
/*section2*/
.section2{
		margin-bottom: 140px;
}
.section2>.col1{
	height: 550px;
	width: 100%;
	background: #135ec5;
	text-align: center;
	/*display: flex;
	flex-direction: column;
	justify-content: center;*/
	padding-top: 1px;
}
.section2>.col1>a{
	width: 200px;
	margin: 0 auto;
	margin-top: 80px;
}
.section2>.col1>a>.btn{
	color: white;
	background: none;
	border: 3px solid white;
	padding: 0;
	font-size: 20px;
	padding: 0.7em 1em;	
}
.section2>.col1>a>.btn:hover{
	color: #CACACA;
	border: 3px solid #CACACA;
}
.section2>.col1>h2{
	margin-top: 130px;
	margin-bottom: 0px;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: white;
}
.section2>.col1>img{
	display: block;
	margin: 0 auto;
	height: 236px;
	margin-top: 100px;
}

/*section3*/

/*box1*/

.section3{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 1000px;
}
.section3>.box1{
	width: 450px;
	height: 570px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
	font-family: 'Montserrat', sans-serif;
}
.section3>.box2{
	width: 950px;
	height: 680px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}
.section3>.box1>.col1{
	background: #135ec5;
	height: 170px;
	text-align: center;
	padding-top: 30px;
}

.section3>.box1>.col1>img{
	height: 162px;
}
.section3>.box1>.col1>h3{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
}
.section3>.box1>.col1>#a1>.btn{
	margin-bottom: 70px;
}
#a1{
	font-size: 14px;
	color: #135ec5;
	display: inline-block;
	margin-left: 70%
}
#a2>.btn{
	background: #e2e2e2;
	color: white;
	font-weight: bold;
	font-size: 18px;
}
#a2>.btn:hover{
	color: #135ec5;
}
#p1{
	font-size: 14px;
	font-weight: bold;
	color: #135ec5;
}
#p2{
	font-size: 18px;
	color: #e2e2e2;
	margin-top: 35px;
}
.section3>.box1>.col1>.box>span{
	font-size: 30px;
	color: #16ad2c;
	font-weight: bold;
}
.section3>.box1>.col1>.box{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

/*box2*/

.point-box{
	display: flex;
	width: 60px;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 120px;
	left: calc(50% - 30px);
}
.bullet{
	width: 6px;
	height: 6px;
	border-radius: 10px;
	opacity: 0.3;
	background: black;

}
.spec{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: white;
	opacity: 1;
}

.box2{
	display: flex;
	overflow: hidden;

}
.box2>.col1{
	flex-basis: 500px;
	padding-left: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.box2>.col2{
	flex-basis: 450px;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	position: relative;
	background: #135ec5;
}
.box2>.col2>img{
	position: absolute;
	right: -160px;
	top: 160px;
	z-index: 3;
	height: 324px;
}
.col2>a>.btn{
	position: absolute;
	right: 30px;
	top: 50px;
	color: #135ec5;
}
.box2>.col1>a>.btn{
	background: #135ec5;
	color: white;
	padding: 0.7em 1.8em;
}
.box2>.col1>a>.btn:hover{
	background: #002f6e;
}
.top-info{
	margin-top: 65px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#s3{
	font-size: 14px;
	color: #D4D4D4;
}
#s4{
	margin-right: 50px;
	color: #16ad2c;
	font-size: 30px;
}
.box2>.col1>h2{
	margin-top: 140px;
	font-size: 30px;
	color: #135ec5;
}
.box2>.col1>p{
	line-height: 45px;
	width: 345px;
	height: 190px;
	overflow: hidden;
	margin-bottom: 80px;
	font-family: 'Open Sans', sans-serif;
	color: #D4D4D4;

}

/*section4*/

.section4>.background{
	background: #135ec5;
	height: 43%;
	width: 100%;
	position: absolute;
	z-index: -1;
	bottom: 0;
}

.section4{
	
	position: relative;
	width: 80%;
	height: 860px;
	margin: 0 auto;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
	margin-bottom: 150px;
}

.section4>a>.btn{
	position: absolute;
	top: 450px;
	width: 235px;
	background: #135dc5;
	color: white;
	left: calc( 50% - 117px );
	padding: 1.3em 2em;
}
.section4>a>.btn:hover{
	background: #002f6e;
}
.f1{
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	color: #c1c1c1;
}
.f1>input{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
	margin-top: 75px;
	width: 21%;
	height: 40px;
	border: none;
	border-bottom: 2px solid #ebebeb;	
}
.f1>input::placeholder{
	color: #c1c1c1;
}
.f2>input::placeholder{
	color: #c1c1c1;
}
.f2{
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	color: #c1c1c1;
}
.f2>input{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
	width: 21%;
	height: 40px;
	border: none;
	border-bottom: 2px solid #ebebeb;	
}
.f3{
	position: relative;
	margin-top: 120px;
	height: 200px;;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 3%;
}
.f3>.input{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
	width: 21%;
	height: 40px;
	border: none;
	border-bottom: 2px solid #3A85EC;
	background: #135ec5;
	color: white;
}
.f3>input::placeholder{
	color: #3A85EC;
}
.f3>input:last-child{
	position: absolute;
	background: white;
	color: #135ec5;
	padding: 1em 3em;
	border: none;
	border-style: none;
	bottom: -50px;
}
.f3>input:last-child:hover{
	background: #e2e2e2;
}

/* hide */

/* section{
	display: none;
}
.section1{
	display: block;
	display: none;
}
.section3
{
	display: block;
	display: none;
}
.section4{
	display: block;
} */
/*media*/

/*@media only screen and (max-width: 1300px){
	body{
		background: lightblue;
	}
}
@media only screen and (max-width: 850px){
	body{
		background: red;
	}
}*/


/*@media only screen and (max-width: 980px){

}
*/