@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
/*basic*/
html{
	font-size: 8px;
	}	
body{
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
	display: inline-block;
	transition: 0.2s;
}
.btn{
  	font-family: 'Montserrat', sans-serif;
  	font-weight: bold;
  	background-color: white;
  	text-align: center;
  	text-transform: uppercase;
	font-size: 1.6rem;

  	border-radius: 2em;
	padding: 0.5em 1em;  
    /*line-height: 3em;*/
	transition: 0.3s;
} 	
/*header*/
header{
	display: flex;
	justify-content: space-between;
	background: black;
	color: white;
	padding-top: 5vh;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #135ec5;
	height: 10vh;
}

.container{
	display: flex;
	width: 35%;
	justify-content: space-around;
}
.container>a{
	margin: auto 0;
}
.container>a>.btn{
	font-size: 1.6rem;
	padding: 1em 1.4em;
}
.box{
	display: flex;
	align-items: center;	
}
.box>img{
	margin-right: 1.5rem;
	height: 3.2rem;
}
.box>p>a:hover{
	color: white;
}
header>a{
	margin-left: 3vw;
	align-self: center;
}
header>a>img{
	width: 7rem;
}

.btn:hover{
	background: #cbcdcf;
}
/*background*/
.background{
	height: 85vh;
	background: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.img-box>img{
	height: 71vh;
	/*max-height: 700px;
	max-width: 1054px;*/
	align-self: center;
}
.img-box>p{
	color: white;
	font-size: 1.8rem;
	align-self: center;
	margin-top: -2rem;
	margin-bottom: 0;
}
.img-box{
	display: flex;
	flex-direction: column; 
}
.point_box{
	background: black;
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 1vw;
	top: calc( 50vh - 6rem / 2);
}
.point_box>.point{
	height: 0.9rem;
	width: 0.9rem;
	background: white;
	opacity: 0.5;
	margin-top: 1.1rem;
	margin-right: 2rem;
	border-radius: 1.5rem;
}
.bottom-nav{
	display: flex;
	color: white;
	justify-content: space-around;
	margin: 2vh 0;
	box-sizing: border-box;
	height: 10vh;
}
.bottom-nav>p{
	font-size: 3rem;
	opacity: 0.4;
	margin: 0;
	line-height: 10vh;
	transition: 0.2s;
}
.bottom-nav>p:hover{
	opacity: 1;
	cursor: pointer;
}
.bottom-nav>a{
	margin: auto 0;
}
.bottom-nav>a>.btn{
	background: #135ec5;
	padding: 1em 2em;
}
.bottom-nav>a>.btn:hover{
	background: #002f6e;
}
/*mark-list*/
.mark-list>{
	
}
.mark-list>h3{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 5rem;
	font-size: 1.5rem;
}
.list{
	display: flex;
	justify-content: space-around;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.list>a>img{
	opacity: 0.6;
	height: 6rem;
	transition: 0.4s;
}
.list>a>img:hover{
	opacity: 1;
}
.list>a:nth-child(2){
	transform: scale(0.9)!important;
}
.list>a:nth-child(4){
	transform: scale(1.2)!important;
}
.list>a:nth-child(5),.list>a:nth-child(6),.list>a:nth-child(8n){
	transform: scale(1.1)!important;
}
/*section1*/

.section1{
	height: 56rem;
	display: flex;
}
.car{
	position: relative;
	width: 50vw;	
	margin: auto 0;
	text-align: center;

}
.car>span{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 22rem;
	color: rgb(255, 255, 255);
	position: absolute;
  	z-index: -1;
  	text-shadow: 0px 0px 2.5rem rgba(0, 0, 0, 0.2);
  	
}
.section1>.car>img{
		height: 40rem;
}
#s1{
	top: -6rem;
	left: calc( 50% - 57.5rem / 2 );
}
#s2{
	left: calc( 50% - 73.6rem / 2 );
	top: 20rem;
}
.info{
	width: 50vw;	
	margin: auto 0;
	text-align: left;
	padding-left: 12vw;
}
.info>p{
	width: 38vw;
	font-family: 'Open Sans', sans-serif;
	color: gray;
	font-size: 1.6rem;
	text-align: justify;
}
.info>h2{
	font-size: 6rem;
	font-family: 'Montserrat', sans-serif;
	color: #135ec5; 
	margin-top: 0;
}
.info>a{
	margin-top: 7rem;
}
.info>a>.btn{
	background: #135ec5;
	width: 20rem;
	padding: 1em 1em;
	color: white;
}
.info>a>.btn:hover{
	background: #002f6e;
}
/*section2*/
.section2{
	margin-bottom: 14rem;
}
.section2>.col1{
	height: 55rem;
	width: 100%;
	background: #135ec5;
	text-align: center;
	/*display: flex;
	flex-direction: column;
	justify-content: center;*/
	padding-top: 1px;
}
.section2>.col1>a{
	width: 20rem;
	margin: 0 auto;
	margin-top: 8rem;
}
.section2>.col1>a>.btn{
	color: white;
	background: none;
	border: 0.3rem solid white;
	padding: 0;
	font-size: 2rem;
	padding: 0.7em 1em;	
}
.section2>.col1>a>.btn:hover{
	color: #CACACA;
	border: 0.3rem solid #CACACA;
}
.section2>.col1>h2{
	margin-top: 13rem;
	margin-bottom: 0rem;
	font-size: 6rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: white;
}
.section2>.col1>img{
	display: block;
	margin: 0 auto;
	height: 23.6rem;
	margin-top: 10rem;
}

/*section3*/

/*box1*/

.section3{
	padding: 5rem 0 ;
}
.section3>.container1{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	
}
.box1,.box2{
	margin: 8rem 0;
}
.section3>.container1>.box1{
	width: 45rem;
	height: 57rem;
	box-shadow: 0px 0px 2.5rem rgba(0, 0, 0, 0.05);
	font-family: 'Montserrat', sans-serif;
}
.section3>.container1>.box1>.col1{
	background: #135ec5;
	height: 17rem;
	text-align: center;
	padding-top: 3rem;
}

.section3>.container1>.box1>.col1>img{
	height: 16.2rem;
}
.section3>.container1>.box1>.col1>h3{
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 1rem;
}
.section3>.container1>.box1>.col1>h3>span{
	color: red;
}
.section3>.container1>.box1>.col1>#a1>.btn{
	margin-bottom: 7rem;
}
#a1{
	font-size: 1.4rem;
	color: #135ec5;
	display: inline-block;
	margin-left: 70%
}
#a2>.btn{
	background: #e2e2e2;
	color: white;
	font-weight: bold;
	font-size: 1.8rem;
}
#a2>.btn:hover{
	color: #135ec5;
}
#p1{
	font-size: 1.4rem;
	font-weight: bold;
	color: #135ec5;
}
#p2{
	font-size: 1.8rem;
	color: #e2e2e2;
	margin-top: 3.5rem;
}
.section3>.container1>.box1>.col1>.box>span{
	font-size: 3rem;
	color: #16ad2c;
	font-weight: bold;
}
.section3>.container1>.box1>.col1>.box{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

/*box2*/
.section3>.container1>.box2{
	width: 95rem;
	height: 68rem;
	box-shadow: 0px 0px 2.5rem rgba(0, 0, 0, 0.05);
}
.show{
	background: none;
}
.point-box{
	display: flex;
	width: 6rem;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 12rem;
	left: calc(50% - 3rem / 2);
}
.bullet{
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 1rem;
	opacity: 0.3;
	background: black;

}
.spec{
	width: 1rem;
	height: 1rem;
	border-radius: 1rem;
	background: white;
	opacity: 1;
}

.box2{
	display: flex;
	overflow: hidden;
}
.box2>.col1{
	flex-basis: 50rem;
	padding-left: 5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.box2>.col2{
	flex-basis: 45rem;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	position: relative;
	background: #135ec5;
}
.box2>.col2>img{
	position: absolute;
	right: -16rem;
	top: 16rem;
	z-index: 3;
	height: 32.4rem;
}
.col2>a>.btn{
	position: absolute;
	right: 3rem;
	top: 5rem;
	color: #135ec5;
}
.box2>.col1>a>.btn{
	background: #135ec5;
	color: white;
	padding: 0.7em 1.8em;
}
.box2>.col1>a>.btn:hover{
	background: #002f6e;
}
.top-info{
	margin-top: 6.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#s3{
	font-size: 1.4rem;
	color: #D4D4D4;
}
#s4{
	margin-right: 5rem;
	color: #16ad2c;
	font-size: 3rem;
}
.box2>.col1>h2{
	margin-top: 14rem;
	font-size: 3rem;
	color: #135ec5;
}
.box2>.col1>h2>span{
	color: red;
}
.box2>.col1>p{
	width: 34.5rem;
	height: 19rem;
	overflow: hidden;
	margin-bottom: 8rem;

	line-height: 4.5rem;
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	color: #D4D4D4;

}
/*section4*/

.section4>.background{
	background: #135ec5;
	height: 44%;
	width: 100%;
	position: absolute;
	z-index: -1;
	bottom: 0;
}

.section4{
	position: relative;
	width: 90%;
	padding-bottom: 12rem;
	margin: 0 auto;
	box-shadow: 0px 0px 2.5rem rgba(0, 0, 0, 0.05);
	margin-bottom: 10rem;
}

.section4>a>.btn{
	position: absolute;
	top: 45rem;
	width: 23.5rem;
	background: #135dc5;
	color: white;
	left: calc( 50% - 11.7rem );
	padding: 1.3em 2em;
}
.section4>a>.btn:hover{
	background: #002f6e;
}
.f1{
	height: 20rem;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	color: #c1c1c1;
}
.f1>input{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.8rem;
	margin-top: 7.5rem;
	width: 21%;
	height: 4rem;
	border: none;
	border-bottom: 0.2rem solid #ebebeb;	
}
.f1>input::placeholder{
	color: #c1c1c1;
}
.f2>input::placeholder{
	color: #c1c1c1;
}
.f2{
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	color: #c1c1c1;
}
.f2>input{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.8rem;
	width: 21%;
	height: 4.0rem;
	border: none;
	border-bottom: 0.2rem solid #ebebeb;	
}
.f3{
	position: relative;
	margin-top: 12rem;
	height: 20rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 3%;
}
.f3>.input{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.8rem;
	width: 21%;
	height: 4rem;
	border: none;
	border-bottom: 0.2rem solid #3A85EC;
	background: #135ec5;
	color: white;
}
.f3>input::placeholder{
	color: #3A85EC;
}
.f3>input:last-child{
	position: absolute;
	background: white;
	color: #135ec5;
	padding: 1em 3em;
	border: none;
	border-style: none;
	bottom: -5rem;
}
.f3>input:last-child:hover{
	background: #cacaca;
}

/* media-none */

@media only screen and (max-width: 320px){
	*{
		display: none;
	}
}
